<h1>This is the success url</h1>
<p>Your transaction is completed successfully. Bank response is <%= @bank_response %></p>
<script>
     function payu_js_callback() {
         PayU.onSuccess("<%= @bank_response %>");
     }
     payu_js_callback();
</script>