<h1>This is the success url</h1>
<p>Your transaction is succeeded. Bank response:  <%= @bank_response %> </p>
<script>

    function connectWebViewJavascriptBridge(callback) {
        if (window.WebViewJavascriptBridge) {
            callback(WebViewJavascriptBridge)
        }
        else {
            document.addEventListener('WebViewJavascriptBridgeReady', function() {
                callback(WebViewJavascriptBridge)
            }, false)
        }

    }

    connectWebViewJavascriptBridge(function(PayU) {
        PayU.onSuccess("<%= @bank_response %>", function(responseData) {

        });

    })

</script>